body {
  background-color: black;
  color: darkcyan;
}

.left-caption {
  margin-left: 50px;
  display:inline-block;
  margin-right: 20%;
}

.right-caption {
  margin-right: 50px;
  display: inline-block;
}

a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}