.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: black;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Diplomata', cursive;
  color: darkcyan;
}

.App-body {
  background-image: url(./images/watercolor.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 85vh;
  color: white;
}

h1 {
  color: darkturquoise;
}

.input-lg {
  background: transparent;
  border: none;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.top-line {
  padding: 0;
}

.li {
  display: inline-block;
  padding-block-end: 20px;
  width: 33.3%;
  text-align: center;
  color: red;
}



